.boxone{
  position: absolute;
  left: 70px;
  top: 35px;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50px;
}
.boxtwo{
    height: 150px;
    width: 250px;
    background-color: green;
}

h2{
    background-color: aqua;
    height: 50px;
    width: 250px;
    text-align: center;
    border:8px;
    border-radius: 10px;
    border-style: solid;
    padding: 25px;
    border-color: rgb(165, 42, 42);
    
}
p{
color: green;
}